.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;

  img {
    height: 350px;
    width: 100%;
    vertical-align: top;
  }
}

@media only screen and (max-width: 768px) {
  .item {
    flex: 0 0 20%;
    img {
      height: 150px;
      width: 100%;
    }
  }
}


@media only screen and (max-width: 600px) {
  .item {
    flex: 0 0 20%;
    img {
      height: 90px;
      width: 100%;
    }
  }
}